<mat-toolbar color="accent">
    <button routerLink="/dashboard" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div><span class="ms-2">Clock Time</span></div>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" backgroundColor="accent">
    <mat-tab label="Attendance">
        <div class="container">
            <div class="row">
                <div class="col p-3">
                    <div class="text-center">
                        <h1>00:00:00</h1>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light form-control">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-clock" viewBox="0 0 16 16">
                                    <path
                                        d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                </svg>
                                Start Clock</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light form-control">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pause-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    <path
                                        d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0z" />
                                </svg>
                                Stop Clock</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="" class="form-label">Select Dates</label>
                            <select class="form-select">
                                <option>Today</option>
                            </select> 
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Time Stamp</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Duration</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>02/14/2024</td>
                                        <td>08:00 AM</td>
                                        <td>12:00 PM</td>
                                        <td>04:00</td>
                                    </tr>
                                    <tr>
                                        <td>02/14/2024</td>
                                        <td>01:00 AM</td>
                                        <td>05:00 PM</td>
                                        <td>04:00</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="text-end">Total</td>
                                        <td>08:00</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Work Orders">
        <div class="container">
            <div class="row">
                <div class="col p-3">
                    <div class="text-center">
                        <h1>00:00:00</h1>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="" class="form-label">Select Work Order</label>
                            <select [(ngModel)]="selectOrderNumber" class="form-select">
                                 <option [value]="task.order.number" *ngFor="let task of taskList; let i = index;">#{{ task.order.number }} {{ task.jobsite.company }}</option>
                            </select> 
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <button type="button" class="btn btn-light form-control">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-clock" viewBox="0 0 16 16">
                                    <path
                                        d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                </svg>
                                Start Clock</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light form-control">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pause-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    <path
                                        d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0z" />
                                </svg>
                                Stop Clock</button>
                        </div>
                    </div> 
                    <div class="row mb-3">
                        <div class="col">
                            <div class="card mb-2 p-2" *ngFor="let task of taskList; let i = index;" [ngClass]="{'bg-selected': selectOrderNumber == task.order.number}">   
                                <div class="row" (click)="onSelect(task.order.number)">
                                    <div class="col">
                                        <span>#{{ task.order.number }} <strong>{{ task.jobsite.company }}</strong></span>
                                        <i *ngIf="selectOrderNumber == task.order.number" class="material-icons float-end m-0" style="font-size: 20px;">access_time</i>
                                    </div>
                                    <div class="col-3 text-right">
                                        <span class="me-1">00:{{ task.order.clockTime }}</span>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </mat-tab>
</mat-tab-group>