<div class="card full-card">
    <div class="card-header">Parts</div>
    <div class="card-body">
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Search</span>
                <input type="text" class="form-control" placeholder="name, number, stock class">
            </div>
        </div>
        <ul class="list-group ">
            <li class="list-group-item bg-light">
                <span class="wynn-icon engine me-2"></span>
                <div><strong>Sissor Lift Handle</strong></div>
                <div class="small" style="margin-top: -5px;">Truck: ABC | Part #: 27663REB</div>
                
                <div class="row mt-2">
                    <div class="col text-end">
                       Stock Class
                    </div>
                    <div class="col">
                       ---
                    </div>
                </div>  <div class="row">
                    <div class="col text-end">
                       Unit of Measure
                    </div>
                    <div class="col">
                       ---
                    </div>
                </div>  <div class="row">
                    <div class="col text-end">
                       Quantity
                    </div>
                    <div class="col">
                       ---
                    </div>
                </div>  <div class="row">
                    <div class="col text-end">
                       Cost
                    </div>
                    <div class="col">
                       ---
                    </div>
                </div>  <div class="row">
                    <div class="col text-end">
                       Total
                    </div>
                    <div class="col">
                       ---
                    </div>
                </div>  <div class="row">
                    <div class="col text-end">
                       Back Order
                    </div>
                    <div class="col">
                       ---
                    </div>
                </div>
            </li> 
            <li class="list-group-item">
                <span class="wynn-icon engine me-2"></span>
                <div>Sissor Lift Handle</div>
                <div class="small" style="margin-top: -5px;">Truck: ABC | Part #: 27663REB</div>
            </li> 
            <li class="list-group-item">
                <span class="wynn-icon engine me-2"></span>
                <div>Sissor Lift Handle</div>
                <div class="small" style="margin-top: -5px;">Truck: ABC | Part #: 27663REB</div>
            </li> 
            <li class="list-group-item">
                <span class="wynn-icon engine me-2"></span>
                <div>Sissor Lift Handle</div>
                <div class="small" style="margin-top: -5px;">Truck: ABC | Part #: 27663REB</div>
            </li> 
        </ul> 
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-primary btn-sm">Add Part</button>
    </div>
</div>