<div class="card full-card">
    <div class="card-header"><strong>Add New Load</strong></div>
    <div class="card-body">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Please select a load below to clone same
                information</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>80388 - Compact Track Loader</option>
            </select>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Make">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Model">
        </div>


        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Swap jobsite locations on new load
            </label>
        </div>
        <div class="alert alert-success" role="alert">
            <span class="strong">Note:</span> New load created on the mobile app cannot be deleted. Please contact your
            dispatcher
            to have the load removed through the website.
        </div>
    </div>
    <div class="card-footer text-center">
        <button type="button" class="btn btn-light me-2">Cancel</button>
        <button type="button" class="btn btn-primary">Create New Load</button>
    </div>
</div>