<div class="card full-card">
    <div class="card-header">Warranty</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Search</span>
                    <input type="text" class="form-control" placeholder="name, number, stock class">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                       <tr>
                        <th>Warranty</th> 
                        <th>Date Range</th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="strong">Manufacture Warranty</div>
                                <div>Basic Warranty</div>
                            </td> 
                            <td>
                                <div class="">10/10/2022</div>
                                <div class="">10/10/2024</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="strong">Powertrain Warranty</div>
                                <div>Basic Warranty</div>
                            </td> 
                            <td>
                                <div class="">10/10/2022</div>
                                <div class="">10/10/2024</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>