<div class="card" style="width: 18rem;">
    <div class="card-header">
        Load <strong>43193</strong>
      </div>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item center">
             <div class="row">
                <div class="col text-center">
                    <img src="http://placehold.it/32x32" width="70%">
                </div>
             </div>
            </li>
            <li class="list-group-item">
                <div  class="float-start">Freight</div>
                <div  class="float-end"><strong>1</strong></div>
            </li>
            <li class="list-group-item">
                <div  class="float-start">Quantity</div>
                <div  class="float-end"><strong>1</strong></div>
            </li>
            <li class="list-group-item">
                <div  class="float-start">Stock Number</div>
                <div  class="float-end"><strong>011-928-2877</strong></div>
            </li> 
            <li class="list-group-item">
                <div  class="float-start">Attachment</div>
                <div  class="float-end"><strong>2</strong></div>
            </li> 
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Note</h5>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> 
    </div> 
</div>