<!-- List View Screen -->
<div class="card full-card" *ngIf="listViewMode">
    <div class="card-header">File Attachments</div>
    <div class="card-body" *ngIf="listViewMode">
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Search</span>
                <input type="text" class="form-control" placeholder="File name, notes">
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="wynn-icon file-pdf"></span>
                <div>Side damage report</div>
                <div class="small" style="margin-top: -5px;">by: Ryan Lam at 08/15/23 10:00 AM</div>
            </li>
            <li class="list-group-item">
                <span class="wynn-icon file-pdf"></span>
                <div>Customer Aggreement</div>
                <div class="small" style="margin-top: -5px;">by: Ryan Lam at 08/15/23 9:00 AM</div>
            </li>
            <li class="list-group-item">
                <span class="wynn-icon file-xls"></span>
                <div>Task List</div>
                <div class="small" style="margin-top: -5px;">by: Ryan Lam at 08/13/23 4:00 PM</div>
            </li>
        </ul>
    </div>
    <div class="card-footer text-center"> 
        <button class="btn btn-sm">Cancel</button>
        <button class="btn btn-sm btn-primary ms-2" (click)="listViewMode=!listViewMode">Add Attachments</button>
    </div>
</div>
<!-- Upload Screen -->
<div class="card full-card" *ngIf="!listViewMode">
    <div class="card-header">
        <mat-icon style="float: left; margin-top: -2px;"
            (click)="listViewMode=!listViewMode">keyboard_arrow_left</mat-icon>
        <div style="display: inline;" (click)="listViewMode=!listViewMode"> Back Attachment List</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Document Type</label>
                    <select class="form-select" id="exampleFormControlSelect1">
                        <option>General</option>
                    </select>
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Display on Equipment</label>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary">Choose File</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-sm">Cancel</button>
        <button class="btn btn-sm btn-primary ms-2" (click)="listViewMode=!listViewMode">Upload</button> 
    </div>
</div>