<!-- List View Screen -->
<div class="card full-card" *ngIf="listViewMode">
    <div class="card-header">File Attachments</div>
    <div class="card-body" *ngIf="listViewMode">
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Search</span>
                <input type="text" class="form-control" placeholder="File name, notes">
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="wynn-icon file-pdf"></span>
                <div>Side damage report</div>
                <div class="small" style="margin-top: -5px;">by: Ryan Lam at 08/15/23 10:00 AM</div>
            </li>
            <li class="list-group-item">
                <span class="wynn-icon file-pdf"></span>
                <div>Customer Aggreement</div>
                <div class="small" style="margin-top: -5px;">by: Ryan Lam at 08/15/23 9:00 AM</div>
            </li>
            <li class="list-group-item">
                <span class="wynn-icon file-xls"></span>
                <div>Task List</div>
                <div class="small" style="margin-top: -5px;">by: Ryan Lam at 08/13/23 4:00 PM</div>
            </li>
        </ul>
    </div>
    <div class="card-footer text-center">
        <button mat-button color="accent" (click)="listViewMode=!listViewMode">
            <mat-icon>camera_alt</mat-icon>
            Add Attachments
        </button>
    </div>
</div>
<!-- Upload Screen -->
<div class="card full-card" *ngIf="!listViewMode">
    <div class="card-header">
        <mat-icon style="float: left; margin-top: -2px;" (click)="listViewMode=!listViewMode">keyboard_arrow_left</mat-icon>
           <div style="display: inline;" (click)="listViewMode=!listViewMode"> Back Attachment List</div>
    </div>
    <div class="card-body">
<div class="row">
    <div class="col">
        <mat-form-field class="full-width" color="accent">
            <mat-label>Select Document Type</mat-label>
            <mat-select> 
              <mat-option value="general">General</mat-option> 
            </mat-select>
          </mat-form-field>
    </div>
</div>
    </div>
    <div class="card-footer text-center">
        <button mat-button color="accent" (click)="listViewMode=!listViewMode"> 
            Upload
        </button>
    </div>
</div>