.driver-name 
    > span
        display: block
        font-size: 90%
        margin-bottom: 0px
    p
        display: block
        font-size: 60%
        padding: 0
        margin: -15px 0px -5px 0px
.status
    position: absolute 
    right: 10px
.mat-grid-tile-content
    padding: 13px
.icon 
    font-size: 800%
.menu-slide
    background-color: #198754
    position: absolute
    top: 0
    bottom: 0
    width:  100%
    z-index: 1 
    opacity: .4
.menu-slide-container
    background-color: #198754
    position: absolute
    top: 0
    bottom: 0
    width:  calc( 100% - 100px )
    z-index: 2 