<div class="card full-card">
    <div class="card-header">History</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Search</span>
                    <input type="text" class="form-control" placeholder="name, number, stock class">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div><b><u>10/10/2021</u></b> Heater Maintenance</div>
                                <div><i>Regular 5 years maintenance</i></div>
                                <div class="row mt-2 desc-block">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">Meter</div>
                                            <div class="card-body text-center">87,454</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">Labor</div>
                                            <div class="card-body text-center">8 (hrs)</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">Stage</div>
                                            <div class="card-body text-center">Assigned</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div><b><u>08/21/2021</u></b> Air Filter Maintenance</div>
                                <div><i>Regular 2 years maintenance</i></div>
                                <div class="row mt-2 desc-block">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">Meter</div>
                                            <div class="card-body text-center">87,454</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">Labor</div>
                                            <div class="card-body text-center">8 (hrs)</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">Stage</div>
                                            <div class="card-body text-center">Assigned</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>