<div class="container">
    <div class="row mt-2">
        <div class="col-6 text-center">
            <div class="card mb-3" routerLink="/clock-time">
                <div class="card-body">
                    <p class="card-text">
                        <mat-icon class="big-icon" matListItemIcon>access_time</mat-icon>
                    </p>
                    <a class="btn btn-success col-12 relative">Clock Time <span class="desc">00:00:00</span></a> 
                </div>
            </div>
        </div> 
        <div class="col-6 text-center">
            <div class="card mb-3">
                <div class="card-body" routerLink="/task">
                    <p class="card-text">
                        <mat-icon class="big-icon" matListItemIcon>list_alt</mat-icon>
                    </p>
                    <a class="btn btn-success col-12">Tasks</a>
                    <span
                        class="position-absolute top-0 start-100 translate-middle badge badge-lg rounded-pill bg-primary">
                        9
                    </span>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">
                        <mat-icon class="big-icon" matListItemIcon>devices_other</mat-icon>
                    </p>
                    <a  class="btn btn-success col-12">Devices</a>
                </div>
            </div>
        </div> 
        <div class="col-6 text-center">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">
                        <mat-icon class="big-icon" matListItemIcon>dynamic_form</mat-icon>
                    </p>
                    <a class="btn btn-success col-12">Smart Form</a>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="card mb-3">
                <div class="card-body" routerLink="/settings">
                    <p class="card-text">
                        <mat-icon class="big-icon" matListItemIcon>settings</mat-icon>
                    </p>
                    <a class="btn btn-success col-12">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">
                        <mat-icon class="big-icon" matListItemIcon>cloud_sync</mat-icon>
                    </p>
                    <a class="btn btn-success col-12 relative">Sync Now <span class="desc">{{currentDate  | date:'MM/dd/yyyy hh:mm a'}}</span></a> 
                </div>
            </div>
        </div>
    </div> 
</div>