.wynn-icon
    width: 32px
    height: 32px 
    background-size: cover
    display: block
    float: left
    &.wynn-icon-sm
        width: 18px
        height: 18px 
    &.mechanic
        background-image: url('images/mechanic.png')
    &.pickup-truck
        background-image: url('images/pickup-truck.png')
    &.delivery-truck
        background-image: url('images/delivery-truck.png')
