<div class="card full-card">
    <!-- ON DISPLAY MODE -->
    <div class="card-header">Assign Mechanic</div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Assigned</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="badge badge-pill badge-primary me-2">Andrew Dawson</span>
                        <span class="badge badge-pill badge-primary me-2">Kenneth Kimura</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <div class="row mt-2">
                    <div class="col">
                        Search Available Mechanic
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <select name="" id="" class="form-select">
                            <option value="All">All Location</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Name, ID, Status">
                    </div> 
                    <div class="col-4">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-sm btn-group d-flex" role="group" aria-label="Basic example">
            <button type="button" class="btn">Cancel</button>
            <button type="button" class="btn btn-primary">Assign Mechanic</button>
        </div>
    </div>
</div>