@import '../../../assets/styles.sass'
.mat-expansion-panel-content
    .mat-expansion-panel-body
        padding: 0 0 0 !important
        
.mat-mdc-tab-labels
    background-color: #424242 !important
.badge-icon-indicate
    top: 8px !important
    font-size: .6rem !important  
.accordion-item 
    border: 0 !important

    button
        box-shadow: none !important 
    h2
        margin: 0 !important
        button
            background-color: #fff !important
#accordion-status-completed-content
    .card-header
        background-color: #69f0ae 
.order-status
    &.onsite
        background-color: #69f0ae !important
        color: #000
    &.completed
        background-color: #3d8221 !important
.clock-time
    &.onsite
        color: #20cf7b !important 
    &.completed
        color: #3d8221 !important
        font-weight: bold
.wynn-icon
    margin-top: -15px !important
.block
    display: block
    white-space: nowrap